body {
    padding: 20px;
}

li {
    margin: 5px 0;
}

h1 {
    display: flex;
   justify-content: center;
   align-items: center; 
}

.input-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    padding: 5px;
    font-size: 16px;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
}